.introCont{
    position: absolute;
    display: flex;
    color: black;
    bottom: 33%;
    width: 75%;
    height: 50vh;
    /* background-color: black; */
  }

  .left-wrapper{
    padding: 33px;
  }

  .introGreet{
    font-size: 30px;
    font-weight: 600;
  }

  .introName{
    font-size: 60px;
  }

  .intro-title{
    height: 60px;
    width: 235px;
    overflow: hidden;
    border-radius: 25px;
  }

  .title-item{
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(11, 180, 180);
    display: flex;
    align-items: center;
  }

  .title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
  }

  @keyframes move {
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(-120px);
    }

  }

  .bob-info-2 {
    color: cyan;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6%;
    position:absolute;
    display:block;
    text-align:justify;
    top: 28rem;
    left: 70rem;
    
  }
  @media (max-width:110rem) {
    .bob-info-2 {
         visibility: hidden;   
    }
    
}
  
.bob{
    position: absolute;
    top: 7rem;
    left: 78rem;
    border-radius: 50%;
    
}
@media (max-width:110rem) {
    .bob {
         visibility: hidden;   
    }
    
}
@media (min-width: 120rem) {
  .slideA{
  position: absolute;
  top: 10px;
  right:18rem;
  width:100px;
  /* height:100px; */
  transition-delay: 1s;
  animation:animate 4s;
  }
  
  @keyframes animate{
  
   from{
   left:0rem;
   } 
   to{
   left:94.6rem;
   }
  } 
  .slideB{
  position: absolute;
  top: 10px;
  right: 12rem;
  width:100px;
  transition-delay: 1s;
  
  animation:animateB 3s;
  }
  
  @keyframes animateB{
  
   from{
   left:5rem;
   } 
   to{
   left:100.7rem;
   }
  } 
  .slideC{
  position: absolute;
  top: 10px;
  right:6.5rem;
  width:100px;
  transition-delay: 1s;
  
  animation:animateC 2s;
  }
  
  @keyframes animateC{
  
   from{
   left:13rem;
   } 
   to{
   left:106.1rem;
   }
  } 
  
  
  .slideD{
  position: absolute;
  top: 10px;
  right:0rem;
  width:100px;  
  
  animation:animateD 1s;
  }
  
  @keyframes animateD{
  
   from{
   left:15rem;
   } 
   to{
   left:112.5rem;
   }
  } 
  
}

