
.headerCont{
  height: 100vh;
}

.bodyCont{
  height: 100vh;
  background-color: #000000;
}


.navbar-dark {
  background-image: linear-gradient(to right, #0c0c0c, #4c4d50, #000000);
  margin-bottom: 2rem;
  min-height: 6rem;
}
  .slideA{
  position:absolute;
  top:25px;
  right:15%;
  width:100px;
  height:100px;
  transition-delay: 1s;
  
  animation:animate 4s;
 }
 
 @keyframes animate{
 
   from{
   left:0%;
   } 
   to{
   left:80%;
   }
 } 
 .slideB{
  position:absolute;
  top:25px;
  right: 10%;
  width:100px;
  height:100px;
  transition-delay: 1s;
  
  animation:animateB 3s;
 }
 
 @keyframes animateB{
 
   from{
   left:5%;
   } 
   to{
   left:85%;
   }
 } 
 .slideC{
  position:absolute;
  top:25px;
  right:5.5%;
  width:100px;
  height:100px;
  transition-delay: 1s;
  
  animation:animateC 2s;
 }
 
 @keyframes animateC{
 
   from{
   left:10%;
   } 
   to{
   left:90%;
   }
 } 

 
 .slideD{
  position:absolute;
  top:25px;
  right:0%;
  width:100px;
  height:100px;
 
  
  animation:animateD 1s;
 }
 
 @keyframes animateD{
 
   from{
   left:15%;
   } 
   to{
   left:95%;
   }
 } 




.bob{
  margin-top: 15%;
  margin-left: 75%;
  margin-bottom:2%;
  border-radius: 50%;
}

.bob-info {
  background-color: rgba(0, 0, 0, 0.5);
 position: absolute ;
 display: inline;
 text-align:justify;
 padding: auto;
 border-radius: 5%;
 margin-left: 70%;
 margin-bottom: 25%;
}