
.headerCont{
  height: 100vh;
}

.bodyCont{
  height: 50vh;
  background-color: #000000;
  color: white;
  font-size: 4rem;
  
}


.navbar-dark {
  background-image: linear-gradient(to right, #0c0c0c, #4c4d50, #000000);
  margin-bottom: 2rem;
  min-height: 6rem;
}

.projectsSection{
  background-color: #1c1c1d;
}